<div class="container">
    <table class="table">
        <caption class="table-caption">
            Listagem dos Usuários
        </caption>

        <thead>
            <tr class="table-row table-row-header">
                <th class="table-header">Id</th>
                <th class="table-header">Nome</th>
                <th class="table-header">Ano_lançamento</th>
                <th class="table-header">Estudio</th>
                <th class="table-header">Genero</th>
            </tr>
        </thead>

        <tbody>
            {% for filme in filmes %}
                <tr class="table-row">
                    <td class="table-cell">{{filme.id}}</td>
                    <td class="table-cell">{{filme.nome}}</td>
                    <td class="table-cell">{{filme.ano_lancamento}}</td>
                    <td class="table-cell">{{filme.estudio}}</td>
                    <td class="table-cell">{{filme.genero}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>